flask==0.11.1
flask-restful==0.3.5

# Don't pin these, because we might be using this with dwelling-place
PyMongo
Flask-PyMongo

pytest==3.0.3
pytest-flask==0.10.0


# Deployment
Flask-Script==2.0.5
gunicorn==19.3.0

wsgi-basic-auth==1.0.4