<!doctype html>
<html>
<head>
  <title>ReD</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='dialog-polyfill/dialog-polyfill.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dialog-polyfill/dialog-polyfill.css') }}">
</head>
<body>
  <div class=page>
    <button id=addProject>Add Project</button>
    <h1>ReD</h1>

    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}

    <ul id=projects></ul><div id=map></div>
  </div>
  <dialog id="dlgEditProject">
    <form>
      <label>Name: <input name=name type=text></label>
      <label>Address: <textarea></textarea></label>
      <label>Stage: <select>
        <option>Conceptual</option>
        <option>Funding Secured</option>
        <option>Under Construction</option>
        <option>Completed</option>
        <option>Archived</option>
      </select></label>
      <label>Completion: <input type=range min=0 max=1 step=0.01></label>
      <label>Start Date: <input type=date></label>
      <label>End Date: <input type=date></label>
      <label>PSH: <input type=number></label>
      <label>Live/Work: <input type=number></label>
      <label>Aff.: <input type=number></label>
      <label>Commercial: <input type=number></label>
      <label>Comments: <textarea></textarea></label>
    </form>
  </dialog>
  <script>
  // Enable the dialog polyfill
  // TODO: Handle dynamically-inserted dialog elements
  (function() {
    for (var dialog of document.querySelectorAll('dialog')) {
      dialogPolyfill.registerDialog(dialog);
    }
  })();
  </script>
  <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>

  <script>
  function initMap() {
    var map = new google.maps.Map($('#map')[0], {
      zoom: 9,
      center: {lat: 42.96125, lng: -85.655719} // Grand Rapids, MI
    });

    $.getJSON('/projects', function(projects) {
      var gc = new google.maps.Geocoder();
      for (var proj of projects) {
        console.info(proj);

        $('#projects').append(
          $('<li>').data('id', proj._id).append(
            $('<h3>').text(proj.name),
            $('<div>').text(proj.stage).append(
              typeof proj.completion == 'number' 
              ? $('<progress max=1>').attr('value', proj.completion) 
              : undefined
            )
          )
        );

        gc.geocode({address: proj.address}, function(results, status) {
          var marker = new google.maps.Marker({
            position: results[0].geometry.location,
            map: map
          });
        });
      }
    });
  }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc84LXXxfOLqDEu13u1fj_hwJSWs55VCY&callback=initMap">
  </script>
  <script>
  function editProject(projid) {
    if (projid != undefined) {
      $.getJSON('/projects/'+projid, function(project) {
        // Populate form
      });
    } else {
      $('#dlgEditProject form')[0].reset();
      $('#dlgEditProject')[0].showModal();
    }
  }

  $(function() {
    $('#addProject').click(function() {
      editProject();
    });
  });
  </script>
</body>
</html>